{% extends 'layout.html' %}

{% block title %}Sessions{% endblock %}

{% block content %}
    <h1 class='recipe-list-header'>{{ recipe.recipe_name }} Sessions</h1>
    <a href="{% url 'recipes:new_session' recipe_pk=recipe.id %}" class="button">Start a new Session</a>

    <ul>
        {% for session in sessions %}
            <li>
                <p>Date Created: {{ session.created_at|date:'M - d - Y' }}</p>
                <p>Status: {{ session.get_status_display }}</p>
                <p><a href="{% url 'recipes:session_detail' recipe_pk=recipe.id session_pk=session.id %}">View</a></p>
            </li>
            {% empty %}
            <p>There are no sessions for this recipe. Get brewing!</p>
        {% endfor %}
    </ul>
{% endblock %}
